#

In [1]:
import nltk
import string
import copy
import re
import pandas as pd
import numpy as np
import seaborn as sns

from tqdm import tqdm
from matplotlib import pyplot as plt
from collections import defaultdict, Counter
nltk.download('words')

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\usu\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [6]:
with open('data/valid-wordle-words.txt') as file:
    possible_answers = file.readlines()

# Elimina los saltos de línea y otros caracteres no alfabéticos, y convierte a mayúsculas
list_possible_answers = sorted([re.sub(r'[^A-Z]', '', word.strip().upper()) for word in possible_answers])

with open('data/answers.txt') as file:
    lista_corta = file.readlines()

lista_corta = sorted([re.sub(r'[^A-Z]', '', t.upper()) for t in lista_corta[0].split(',')])
print(len(lista_corta),
      list_possible_answers[:5])

2316 ['AAHED', 'AALII', 'AAPAS', 'AARGH', 'AARTI']

In [4]:
arr_words_5l = np.array([list(w) for w in list_possible_answers])
df_words_5l = pd.DataFrame(data=arr_words_5l,
                           columns=[f'letter_{i+1}' for i in range(5)])
df_words_5l['word'] = list_possible_answers
df_words_5l.head()

  letter_1 letter_2 letter_3 letter_4 letter_5   word
0        A        A        H        E        D  AAHED
1        A        A        L        I        I  AALII
2        A        A        P        A        S  AAPAS
3        A        A        R        G        H  AARGH
4        A        A        R        T        I  AARTI

In [7]:
from cod.WORDLE import Juego 
from cod.WORDEL_PANTALLA import * 
root = tk.Tk()
visual_app = WordleVisual(root)

# Inicializa el juego
juego = Juego(list_possible_answers, df_words_5l, visual_app)
root.after(0, juego.jugar())

# Ejecuta la ventana de tkinter
root.mainloop()

Las 3 palabras con más probabilidad:
La probabilidad de la palabra 'SANES' es: 0.8305
La probabilidad de la palabra 'SORES' es: 0.8283
La probabilidad de la palabra 'SALES' es: 0.8207
Palabra: SANES, Estados: ?YY??
      letter_1 letter_2 letter_3 letter_4 letter_5   word
13           A        B        A        N        D  ABAND
51           A        B        O        O        N  ABOON
54           A        B        O        R        N  ABORN
61           A        B        R        I        N  ABRIN
65           A        B        U        N        A  ABUNA
...        ...      ...      ...      ...      ...    ...
14665        Y        O        J        A        N  YOJAN
14666        Y        O        K        A        N  YOKAN
14723        Y        U        L        A        N  YULAN
14782        Z        I        G        A        N  ZIGAN
14846        Z        U        P        A        N  ZUPAN

[336 rows x 6 columns]

Las 3 palabras con más probabilidad:
La probabilidad de la palabra 'ANANA' es: 1.336
La probabilidad de la palabra 'ARGAN' es: 1.158
La probabilidad de la palabra 'ALANG' es: 1.149
Palabra: ANANA, Estados: YG???
      letter_1 letter_2 letter_3 letter_4 letter_5   word
5885         I        N        L        A        Y  INLAY
5908         I        N        V        A        R  INVAR
8812         O        N        L        A        P  ONLAP
8813         O        N        L        A        Y  ONLAY
8818         O        N        T        A        L  ONTAL
13626        U        N        B        A        G  UNBAG
13628        U        N        B        A        R  UNBAR
13632        U        N        C        A        P  UNCAP
13640        U        N        D        A        M  UNDAM
13651        U        N        G        A        G  UNGAG
13656        U        N        H        A        T  UNHAT
13665        U        N        J        A        M  UNJAM
13671        U        N        L        A        P  UNLAP
13672        U        N        L        A        W  UNLAW
13673        U        N        L        A        Y  UNLAY
13679        U        N        M        A        D  UNMAD
13687        U        N        P        A        Y  UNPAY
13706        U        N        T        A        G  UNTAG
13707        U        N        T        A        X  UNTAX

Las 3 palabras con más probabilidad:
La probabilidad de la palabra 'UNLAY' es: 3.263
La probabilidad de la palabra 'UNLAP' es: 3.211
La probabilidad de la palabra 'UNLAW' es: 3.105
Palabra: UNLAY, Estados: ?GGGG
     letter_1 letter_2 letter_3 letter_4 letter_5   word
5885        I        N        L        A        Y  INLAY
8813        O        N        L        A        Y  ONLAY

Las 3 palabras con más probabilidad:
La probabilidad de la palabra 'INLAY' es: 4.5
La probabilidad de la palabra 'ONLAY' es: 4.5
Palabra: INLAY, Estados: GGGGG
¡Ganaste! La palabra correcta es 'INLAY'.